<!DOCTYPE html>
<!-- Default base template. Other templates define the "main" portion in this template -->
<html lang="{{ $.Site.LanguageCode | default "en" }}">
    {{ partial "head.html" . }}
    <body>
        {{ partial "nav.html" . }}
        <div id="content" class="content-container">
        {{ block "main" . }}
        {{ end }}
        {{ partial "math.html" . }}
        </div>
        {{ partial "footer-mobile.html" . }}
        <script type="text/javascript">
            var vglnk = {key: '3580dd06671b55675833fe90d1eb2642'};
            (function(d, t) {
                var s = d.createElement(t);
                s.type = 'text/javascript';
                s.async = true;
                s.src = '//cdn.viglink.com/api/vglnk.js';
                var r = d.getElementsByTagName(t)[0];
                r.parentNode.insertBefore(s, r);
            }(document, 'script'));
        </script>
    </body>
</html>