{{ define "main" }}

{{ if .IsTranslated }}
<h4>{{ i18n "translations" }}</h4>
{{ range .Translations }}
<div>
    <a class="color-link" href="{{ .Permalink }}">[{{ .Language.LanguageName }}] {{ .Title }}{{ if .IsPage }}{{ end }}</a>
</div>
{{ end }}
{{ end }}

<h1 class="post-title">{{ .Title }}</h1>
    {{ if .Date }}
    <time>{{ .Date.Format "January 2, 2006" }}</time>
    {{ end }}
    <div>
        <p>
        {{ .Content | replaceRE "(<h[2-9] id=\"([^\"]+)\".+)(</h[2-9]+>)" "<a class=\"headline-hash\" href=\"#${2}\">${1}</a> ${3}" | safeHTML }}
        </p>
    </div>

    {{ if not .IsNode }}
    {{ template "_internal/disqus.html" . }}
    {{ end }}

    <div class="page-footer">
        {{if .Params.tags}}
        <hr class="footer-divider">
        {{ range .Params.tags }}
            <a class="tag" href="/tags/{{ . | urlize }}">#{{.}}</a>
        {{ end }}
      {{ end }}
    </div>

{{end}}
