img {
	max-width: 100%;
}

.job-title {
	text-align: center;
	margin-bottom: 1.5em;
}

@mixin media($for-tablet-up) {
    @media only screen and (min-width: $for-tablet-up) {
        @content;
    }
}

@include media(900px) {
	.job-title {
		text-align: left;
	}
}

h1, h2, h3, h4, h5, h6, h7, h8, h9 {
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}